<section>
    <div class="container">
        <h1>Register</h1>
        <div class="row">
            <h3>Email</h3>
            <input type="text" name="" value="" placeholder="Input your Email" ng-model="vm.reg.username">
        </div>
        <div class="row">
            <h3>Password</h3>
            <input type="text" name="" value="" placeholder="Input your Password" ng-model="vm.reg.password">
        </div>
        </br>
        <div class="row">
            <input type="button" name="" value="Register" ng-click="vm.register()">
        </div>
    </div>
    </br>
</section>